/* BASE STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* NAVIGATION */
.navigation {
  background-color: #1F2937;
  padding: 16px 0;
}

#logo {
  font-size: 24px;
  color: #F9FaF8;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.header-links {
  display: flex;
  gap: 30px;
  font-size: 18px;
  font-weight: 100;
  color: #E5E7EB;
}

/* HERO STYLING */
.hero {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  color: #F9FaF8;
  background-color: #1F2937;
}

.hero-title {
  display: flex;
  flex-direction: column;
  flex: 0 1 400px;
  min-width: auto;
}

.hero-title h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-title p {
  font-size: 18px;
  font-weight: 100;
}

.hero img {
  width: 300px;
  height: auto;
}

/* projects */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.projects h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  padding-bottom: 20px;
}

.sample-projects {
  display: flex;
  gap: 10px;
}

.project-1,
.project-2,
.project-3,
.project-4 {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.sample-projects p {
  padding: 0 24px;
}

/* testimonial */
.testimonial {
  display: flex;
  flex-direction: column;
  padding: 100px 325px;
  background-color: #E5E7EB;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1F2937;
}

cite {
  align-self: flex-end;
  font-style: normal;
}